
.title{
    font-family: futura-pt-condensed, sans-serif;

    font-weight: 700;
    
    font-style: normal;
}
.wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
  
    max-width: 960px; /* 2 */
  
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
  }
 
.navbar{
    background-color: #e0e0e0;
    
}
.footer{
    background-color: #e0e0e0;
}


.row {
    
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
}


  @media  screen and (max-width: 376px) {
   .logo{
       width: 10%;
   }
}
  @media  screen and (min-width: 768px) {
   
    
    
    }
   
   
   

      @media  screen and (min-width: 1024px) {
       
    }
        @media  screen and (min-width: 1600px) {
          
           
               
            }
       
    